<!DOCTYPE html>
<html lang="fr">

<head></head>
<body onLoad="window.print();">
<div id="wrapper">

    <div [hidden]="this.formvisible!='ec'" class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default" >
        <div class="panel-heading">
            <p align="right" >
                Prénom Opérateur: ...<br>
                Nom Opérateur: ....<br>
                Numéro Opérateur : 784448245 <br> </p>
        </div>
        <div class="panel-body">
            Numéro Transaction: ...<br>
            <table>
                <tr class="text-uppercase">
                    <td width="200px">
                        Prénom Expéditeur:<br> {{envoiCash.prenome}}<br>
                        Nom Expéditeur: <br>{{envoiCash.nome}}<br>
                        Téléphone Expéditeur:<br>{{envoiCash.tele}}<br>

                    </td>

                    <td>
                    <td>
                        Prénom Destinataire:<br> {{envoiCash.prenomd}}<br>
                        Nom Destinataire:<br> {{envoiCash.nomd}}<br>
                        Téléphone Destinataire:<br>{{envoiCash.teld}}<br>
                        Montant Envoyé :<br>{{envoiCash.montant}}<br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
    <div [hidden]="this.formvisible!='pc'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Référence:<br> {{paieCash.referi}} <br>
                            Service: ...<br>
                            Montant:<br> {{paieCash.montantf}}<br>

                        </td>
                        <td>
                            Nom et Prénom:<br> {{paieCash.nomp}}<br>
                            Téléphone:<br> {{paieCash.telf}}<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div [hidden]="this.formvisible!='aj'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Acheteur: <br> {{achatJula.noma}}<br>
                            Prénom Acheteur: <br> {{achatJula.prenoma}}<br>
                            Téléphone Acheteur:<br> {{achatJula.tela}}<br>

                        </td>
                        <td>
                            Type de Carte:<br> {{achatJula.tca}}<br>
                            Nombre de Carte:<br> {{achatJula.nbc}}<br>
                            Montant:<br> {{achatJula.mnt}}<br>
                        </td>
                    </tr>
                </table>
            </div>
          <input type="button" value="Imprimer cette page" onClick="window.print()">
        </div>
    </div>
    <div [hidden]="this.formvisible!='rgs'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Client: <br> {{reglSenelec.nomp}}<br>
                            Prénom Client: <br> {{reglSenelec.prenomp}}<br>
                            Téléphone Client:<br> {{reglSenelec.teli}}<br>

                        </td>
                        <td>
                            Référence Facture:<br> {{reglSenelec.refi}}<br>
                            Montant Payé:<br> {{reglSenelec.mntf}}<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div [hidden]="this.formvisible!='acw'"  class="panel-heading"><img src="../assets/tnt.png" class="img-rounded"   height="100"/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p align="right" >
                    Prénom Opérateur: ...<br>
                    Nom Opérateur: ....<br>
                    Numéro Opérateur : 784448245 <br> </p>
            </div>
            <div class="panel-body">
                Numéro Transaction: ...<br>
                <table>
                    <tr class="text-uppercase">
                        <td width="200px">
                            Nom Client: <br> {{achatCodeWoyofal.nomc}}<br>
                            Prénom Client: <br> {{achatCodeWoyofal.prenomc}}<br>
                            Téléphone Client:<br> {{achatCodeWoyofal.telc}}<br>

                        </td>
                        <td>
                            Code Woyofal:...<br>
                            Montant Payé:<br> {{achatCodeWoyofal.monts}}<br>
                            Compteur:<br> {{achatCodeWoyofal.compteur}}<br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


</div>
<script language="javascript">
  window.print();
</script>
</body>
</html>
