input{
  margin-top : 1rem !important;
}

fieldset h4{
    text-align: center;
    color : white;
    background-color : #F39200;
    padding: 1rem;
    border-radius: 12rem 0rem 12rem 12rem;
    width: 85rem;
}

.nav-pills
{
    padding-bottom: 30px;
    margin-left: 200px;
}
.tab-content
{

    border-right: 2px dotted #ccc;
    
}
.panel-body{
	overflow-x: auto ;
}

.panel{
    border-style: hidden ;
}

.panel-heading{
    font-size: -webkit-xxx-large ! important;
    color : white !important;
    background-color: #36A9E0 !important;
    margin-bottom: 3rem ;
}


#elec{
    margin-left: 20px;
}
#vdec{
    margin-left: 20px;
}
#vcarte{
    margin-left: 20px;
    margin-right: 20px;
}

#tnt-options{
	margin-left: 0px !important ;
}