<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
</div>
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" id="currentUser" data-toggle="dropdown" href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> 
        {{currentUser.username}} 
        </a>
        <ul class="dropdown-menu dropdown-user">
<!--             <li><a href="#"><i class="fa fa-user fa-fw"></i> Profile Utilisateur</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Réglages</a>
            </li>
 -->        <li class="divider"></li>
            <li><a class="btn" id="disconnect-btn" (click)="deconnexion()" ><i class="fa fa-sign-out fa-fw"></i> Se déconnecter</a>
            </li>
        </ul>
    </li>
</ul>