<div id="page-wrapper" class="text-center">
  <div class="panel-heading" *ngIf="dataImpression.apiservice=='adminpdv' && dataImpression.service=='faireundepot'">
    <div class="panel panel-default"  id="adminpdvrecuimpressionadminpdvfaireundepot">
      <img src="../../assets/bbs.png" class="img-rounded"   height="100"/>
      <h2 style="text-align: center"> DECHARGE </h2>
    </div>
    <div class="panel-heading">
      <p align="right" >
        <strong>Entreprise:</strong> {{ operateur.nometps }}<br>
        <strong>Superviseur:</strong> {{ operateur.prenom }} {{ operateur.nom }}<br>
        <strong>Service clientèle:</strong><br>
        77 226 12 27 - 77 398 18 31 - 77 398 18 58.<br>
      </p>
    </div>
  </div>

  <div class="row container" style="text-align: center" >
    <button type="button" class="btn btn-primary" (click)="print()">Imprimer</button>
    <button type="button" class="btn btn-secondary" (click)="backClicked()">Retour</button>
  </div>


</div>
